@{
    ViewData["Title"] = "Cadastrar";
}

<h1><center>@ViewData["Title"]</center></h1>

<form>
    <center>
        <p>
            <label for="ram">RAM</label><br>
            <input type="text" id="ram" name="ram">
        </p>

        <p>
            <label for="processor">PROCESSOR</label><br>
            <input type="text" id="processor" name="processor">
        </p> 

        <input type="submit" class="btn btn-outline-success" value="Cadastrar">
    </center>
</form>
