@model int

@{
    ViewData["Title"] = "Cadastro negado";
}

<h1>@ViewData["Title"]</h1><br>

<p>O computador com ID @Model já está cadastrado.</p>

<a href="/Computer/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
