@model int

@{
    ViewData["Title"] = "Cadastro negado";
}
<a href="/Computer/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
<h1>@ViewData["Title"]</h1><br>

<p>O laboratório com ID @Model já está cadastrado.</p>